<%= render 'envelopes/header' %>
<section id="new_distribution">
<p>You currently have <%= number_to_currency(current_user.unallocated_amount.to_f) %> in Unallocated Money.</p>

<% if @unallocated_amount <= 0 %>
  <p>Please <%= link_to 'add income', new_transaction_path %> and add envelopes</p>
<% else %>
  <%= render 'form' %>
<% end %>
</section>
