/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require bootstrap-1.4.0.min.css
 *= require_self
*/

/* Generic --------*/
body {
  color: #333;
}

meter {
  width: 100%
}

/* Layout ---------*/
#main {
  padding-top: 60px;
  min-height: 600px;
}

/* Table ----------*/

caption {
  text-align: left;
}

th.envelope_name, th.budget, th.current_amount {
  width: 20%;
}
th.money, th.budget, th.current_amount {
  text-align: right;
}

th.meter {
  width: 40%
}

td.money {
  text-align: right;
}

