/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require bootstrap.min.css
 *= require_self
*/

/* Generic --------*/
body {
  color: #333;
}

meter {
  width: 100%
}

section {
  margin-top: 90px;
}
/* Layout ---------*/
#main {
  padding-top: 60px;
  min-height: 600px;
}

/* Subheader ------*/
.subhead {
  padding-bottom: 0;
  margin-bottom: 9px;
}

.jumbotron {
  position: relative;
}

.subnav {
  width: 100%;
  height: 36px;
  margin-bottom: 18px;
  background-color: #EEE;
  background-repeat: repeat-x;
  background-image: -moz-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f5f5f5), color-stop(100%,#eeeeee));
  background-image: -webkit-linear-gradient(top, #f5f5f5 0%,#eeeeee 100%);
  background-image: -ms-linear-gradient(top, #f5f5f5 0%,#eeeeee 100%);
  background-image: -o-linear-gradient(top, #f5f5f5 0%,#eeeeee 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#eeeeee',GradientType=0 );
  background-image: linear-gradient(top, #f5f5f5 0%,#eeeeee 100%);
  border: 1px solid #E5E5E5;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border-image: initial;
}

.subnav-fixed {
  position: fixed;
  top: 40px;
  left: 0;
  right: 0;
  z-index: 1030;
  border-color: #D5D5D5;
  border-width: 0 0 1px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: inset 0 1px 0 #fff, 0 1px 5px rgba(0,0,0,.1);
  -moz-box-shadow: inset 0 1px 0 #fff, 0 1px 5px rgba(0,0,0,.1);
  box-shadow: inset 0 1px 0 #fff, 0 1px 5px rgba(0,0,0,.1);
}

.subnav-fixed .nav {
  width: 938px;
  margin: 0 auto;
  padding: 0 1px;
}

.subnav .nav > li:first-child > a, .subnav .nav > li:first-child > a:hover {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

.subnav .nav > li:first-child > a, .subnav .nav > li:first-child > a:hover {
  border-left: 0;
  padding-left: 12px;
  -webkit-border-radius: 4px 0 0 4px;
  -moz-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
}

.subnav .nav > .active > a, .subnav .nav > .active > a:hover {
  padding-left: 13px;
  color: #777;
  background-color: #E9E9E9;
  border-right-color: #DDD;
  border-left: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.05);
  -moz-box-shadow: inset 0 3px 5px rgba(0,0,0,.05);
  box-shadow: inset 0 3px 5px rgba(0,0,0,.05);
}

.subnav .nav > li > a {
  margin: 0;
  padding-top: 11px;
  padding-bottom: 11px;
  border-left: 1px solid whiteSmoke;
  border-right: 1px solid #E5E5E5;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

/* Table ----------*/

caption {
  text-align: left;
}

th.envelope_name, th.budget, th.current_amount, th.monthly {
  width: 15%;
}
th.money, th.budget, th.current_amount {
  text-align: right;
}

th.meter {
  width: 40%
}

td.money {
  text-align: right;
}

td.green {
  text-align: right;
  color: green;
}

td.purple {
  text-align: right;
  color: purple;
}
td.olive {
  text-align: right;
  color: olive;
}

.red {
  color: red;
}

.green {
  color: green;
}

.progress {
  margin-bottom: 0;
}
