<header class="jumbotron subhead">
<div class="subnav subnav-fixed">
  <ul class="nav nav-pills">
    <%= active_link_to "Transaction History", transactions_path, :active => [['transactions'], ['index']], :wrap_tag => :li %>
    <%= active_link_to "Record Transaction", new_transaction_path, :acctive => [['transactions'], ['new']], :wrap_tag => :li %>
    <%= active_link_to "Upload Transactions", new_upload_transactions_path, :active => [['transactions'], ['new_upload']], :wrap_tag => :li %>
  </ul>
</div>
</header>
