<div class="page-header">
  <h1>Accounts</h1>
</div>

<section id="accounts">
  <ul class="tabs" data-tabs="tabs">
    <li class="active"><a href="#overview">Account Overview</a></li>
    <li><a href="#add_account">Add Account</a></li>
  </ul>
  <div class="tab-content">
  <div class="active" id="overview">
    <table>
      <thead>
    <tr>
      <th>Name</th>
      <th>Balance</th>
      <th>Note</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
  <% @accounts.each do |a| %>
    <tr>
      <td><%= a.name %></td>
      <td></td>
      <td><%= a.note %></td>
      <td></td>
    </tr>
  <% end %>
  </tbody>
  </table>
</div>

<div id="add_account">
  <%= render 'form' %>
</div>
</section>
