<%= render 'header' %>
<section id="accounts_overview">
<div class="span4">
<table class="table">
      <thead>
    <tr>
      <th>Name</th>
      <th class="money">Balance</th>
    </tr>
  </thead>
  <tbody>
  <% @accounts.each do |a| %>
    <tr>
      <td><%= link_to a.name, transactions_path(account: a.id) %></td>
      <td class="money"><%= number_to_currency(a.balance) %></td>
    </tr>
  <% end %>
  <tr>
    <td><strong>Total</strong></td>
    <td class="money"><%= number_to_currency(current_user.total_accounts_balance) %></td>
  </tr>
  </tbody>
</table>
</div>
</section>
